*,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    background-color: rgba(245, 245, 245, 255);

    .header {
        background-color: rgba(244, 250, 245, 0.932);
        display: block;
        margin: 0 15px 15px 15px;
        border-radius: 0 0 10px 10px;
        border: 1px solid rgba(46, 156, 63, 0.753);

        .currency-exchange-list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            .currency-exchange-list-item {
                background-color: rgba(46, 156, 63, 0.753);
                display: flex;
                flex-direction: row;
                align-items: center;
                list-style: none;
                padding: 10px;
                margin: 10px;
                border-radius: 10px;

                .list-item-text {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: #ffffff;
                    font-size: 16px;
                    margin: 0 0 0 5px;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
        }
    }

    .exchange-block-wrapper {
        background-color: rgba(244, 250, 245, 0.932);
        padding: 20px;
        margin: 15px;
        border: 1px solid rgba(46, 156, 63, 0.753);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .exchange-convertation-img-wrapper {
            margin: 0 20px;
            display: flex;

            .exchange-convertation-img {
                width: 30px;
                height: 30px;
            }
        }

        .exchange-item {
            margin: 10px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .exchange-item-input {
                padding: 7px 5px;
                border-radius: 10px;
                outline: none;
                border: 1px solid rgba(217, 217, 217, 255);
                margin-right: 10px;

                &:focus {
                    border: 1px solid rgba(46, 156, 63, 0.753);
                    box-shadow: 1px rgba(46, 156, 63, 0.753);
                }

                &:hover {
                    transition: all 0.3s ease-in-out;
                    border: 1px solid rgba(46, 156, 63, 0.753);
                    box-shadow: 1px rgba(46, 156, 63, 0.753);
                }
            }

            .exchange-select-wrapper {
                display: flex;
                padding: 10px 0 10px 10px;

                .exchange-item-select {
                    margin-left: 10px;
                    border: 2px solid rgba(46, 156, 63, 0.753);
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }

        }
    }

    .made-by-rodnick {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: grey;

        .made-by-span {
            color: rgba(17, 255, 53, 0.897);
        }
    }
}

@media screen and (max-width: 776px) {
    #root {
        .exchange-block-wrapper {
            flex-direction: column;
        }
    }

}